.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 85%;
}

.login-form-field{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 15px;
    position: relative;
}
.login-form-field-label{
    font-size: 20px;
    margin-bottom: 5px;
}
.login-form-field-input{
    border-radius: 50px;
    height: 35px;
    padding: 3px 45px 3px 10px;
    font-size: 20px;
    border: solid 1px cornflowerblue;
}
.password-toggler{
    position: absolute;
    bottom: 4px;
    right: 7px;
    font-size: 28px;
    cursor: pointer;
}
.login-form-error-message{
    color: crimson;
}